
.icon-edit:before { content: '\e800'; } /* '' */
.icon-edit-1:before { content: '\e801'; } /* '' */
.icon-edit-2:before { content: '\e802'; } /* '' */
.icon-edit-alt:before { content: '\e803'; } /* '' */
.icon-menu-1:before { content: '\e804'; } /* '' */
.icon-menu-outline:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-calendar:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-trash-empty:before { content: '\e80d'; } /* '' */
.icon-plus:before { content: '\e80e'; } /* '' */
.icon-plus-circled:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-off:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e812'; } /* '' */
.icon-left-open-big:before { content: '\e813'; } /* '' */
.icon-right-open-big:before { content: '\e814'; } /* '' */
.icon-right-open-mini:before { content: '\e815'; } /* '' */
.icon-left-open-mini:before { content: '\e816'; } /* '' */
.icon-left:before { content: '\e817'; } /* '' */
.icon-right:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e819'; } /* '' */
.icon-down:before { content: '\e81a'; } /* '' */
.icon-left-dir:before { content: '\e81b'; } /* '' */
.icon-right-dir:before { content: '\e81c'; } /* '' */
.icon-key:before { content: '\e81d'; } /* '' */
.icon-globe:before { content: '\e81e'; } /* '' */
.icon-phone-circled:before { content: '\e81f'; } /* '' */
.icon-facebook:before { content: '\e820'; } /* '' */
.icon-googleplus:before { content: '\e821'; } /* '' */
.icon-skype:before { content: '\e822'; } /* '' */
.icon-block:before { content: '\e823'; } /* '' */
.icon-clock:before { content: '\e824'; } /* '' */
.icon-basket:before { content: '\e825'; } /* '' */
.icon-basket-circled:before { content: '\e826'; } /* '' */
.icon-wrench-circled:before { content: '\e827'; } /* '' */
.icon-wrench:before { content: '\e828'; } /* '' */
.icon-thumbs-up:before { content: '\e829'; } /* '' */
.icon-youtube:before { content: '\e82a'; } /* '' */
.icon-share:before { content: '\e82b'; } /* '' */
.icon-mic:before { content: '\e82c'; } /* '' */
.icon-megaphone:before { content: '\e82d'; } /* '' */
.icon-cog:before { content: '\e82e'; } /* '' */
.icon-cog-alt:before { content: '\e82f'; } /* '' */
.icon-lock-open:before { content: '\e830'; } /* '' */
.icon-lock:before { content: '\e831'; } /* '' */
.icon-attach:before { content: '\e832'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */